.container-home{
  display: flex;
  justify-content: center;
  margin:10px auto;
}
.my-card{
  width:250px;
  margin:10px 10px; 
  background-color:rgb(240, 236, 236);
  color: rgb(95, 95, 233);
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
h5{
  margin:20px
}
.my-card, h5, .mycard-body{
  display:flex;
  justify-content: center;
}